[Desktop Entry]
Encoding=UTF-8
Name=Flickr Uploader
Comment=Upload photos to Flickr
Icon=postr
TryExec=postr
Exec=postr %F
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;Graphics;
